.container{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    text-align: right;
    padding:16px;
    border-radius: 10px;
    min-height: 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*Disable React Router Link styles*/
    text-decoration: none;
    color:#000 !important;
    position: relative;
    overflow: hidden;

}
.container a{
    text-decoration: none;
    color:#000;

}

.image{
    position: absolute;
    bottom: -32px;
    left: -20px;
    opacity: 0.2;
    transform: rotate(15deg);
    transition:all 0.3s ease;
}
.image svg{
    font-size: 150px;
}

.container:hover .image{
    opacity: 1;
    transform: rotate(0);
    bottom: 0px;
    left: 0px;
}


.buttonContainer{
    z-index: 2;
}

.textContainer{
    .textContainer{
        text-decoration: none;
        padding:16px 16px 16px 16px;
        color:#000;
    }
    
}
.title{
    text-transform: capitalize;
}