.container{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    text-align: right;
    padding:16px;
    border-radius: 10px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*Disable React Router Link styles*/
    text-decoration: none;
    color:#000;
    position: relative;
    overflow: hidden;

}


.title{
    text-transform: capitalize;
}
.image{
    position: absolute;
    bottom: -32px;
    left: -20px;
    opacity: 0.2;
    transform: rotate(15deg);
    transition:all 0.3s ease;
}
.image svg{
    font-size: 150px;
}

.container:hover .image{
    opacity: 1;
    transform: rotate(0);
    bottom: 0px;
    left: 0px;
}