.modalContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 2px solid #808080;
    box-shadow: 24;
    padding:24px 48px;
    border-radius: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:8px;
    margin-top: 48px;
}